
.container_login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height:150px;
  margin: -75px 0 0 -150px;
  border-radius: 5px;
  padding: 30px 20px 30px 20px;
  text-align: center;
  box-shadow: 5px 5px 5px 5px rgba(0.1, 0.1, 0.1, 0.1);

}

.title {
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: .00735em;
  margin-bottom: 20px;
}