 body {
   font-family: 'Roboto',Arial,sans-serif;
   color: #333333;
   font-size: 16px;
   overflow-x: hidden;
 }

 @font-face {
   font-family: "Styrene";
   src: local('Styrene'), url(./fonts/StyreneAWeb-Light.woff) format('woff');
 }

 .react-tabs__tab--selected {
   background: transparent;
   border-color: #aaa;
   color: #1c78c9;
   font-weight: bold;
 }

 .react-tabs__tab:focus {
   outline: none;
 }

 .react-tabs__tab {
   cursor: pointer;
   padding: 10px;
 }

 .react-tabs__tab-list {
   font-size: 18px;
   color:#44a5fa;
 }